<!-- NAVBAR -->
<nav>
  <div class="left">
    <a href="/">{{ "name-nav" | translate }} </a>
    <span class="fi {{ this.isEnglish ? 'fi-us' : 'fi-mx' }}"></span>
  </div>

  <div class="right">
    <button (click)="changeLanguage()">
      <i class="fa-solid fa-earth-americas"></i>
    </button>
    <button (click)="changeTheme()">
      <i class="fa-solid fa-circle-half-stroke"></i>
    </button>
  </div>
</nav>

<main>
  <!-- Abuto Me -->
  <section>
    <app-about-me />
  </section>

  <!-- Skills -->
  <section id="skills">
    <app-skill />
  </section>

  <!-- Experience -->
  <section id="experience">
    <app-experience />
  </section>

  <!-- Proyects -->

  <!-- Testimony -->
  <section id="testimony">
    <app-testimony />
  </section>
</main>

<app-footer />
