<!-- NAVBAR -->
<nav>
  <div class="left">
    <a href="/">Jesús Liendo</a>

    <!-- <button>idioma</button>
    <button>dark mode</button> -->
  </div>

  <div class="right">
    <!-- <a
      href="https://github.com/Liendo55"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-brands fa-github"></i>
      <span>Github</span>
    </a> -->

    <a
      href="https://www.linkedin.com/in/jesus-manuel-liendo-palafox-62694425a/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-brands fa-linkedin"></i>
      <span>Linkedin</span>
    </a>

    <a href="mailto:jesusliendo55@gmail.com">
      <i class="fa-solid fa-envelope"></i>
      <span>Email</span>
    </a>
  </div>
</nav>

<main>
  <!-- SECTION 1: Hero -->
  <section>
    <app-about-me />
  </section>

  <!-- SECTION 2: Skills -->
  <section id="skills">
    <app-skill />
  </section>

  <!-- SECTION 3: Testimony -->
  <!-- <section id="testimony">
    <app-testimony />
  </section> -->

  <!-- SECTION 4: Contact -->
  <!-- <section id="contact">
    <app-contact />
  </section> -->
</main>

<app-footer />
