<div class="skills-section">
  <h2>Skills</h2>
  <div class="text">
    Estas son las tecnologías con las que tengo experiencia en el desarrollo web
    y móvil. Actualemente estoy aprendiendo Angular 19 y Tailwind.
  </div>

  <div class="cells">
    <div class="cell">
      <img src="images/html-logo.webp" alt="html logo" />
      <span>HTML</span>
    </div>

    <div class="cell">
      <img src="images/css-logo.webp" alt="css logo" />
      <span>CSS</span>
    </div>

    <div class="cell">
      <img src="images/javascript-logo.webp" alt="javascript logo" />
      <span>JavaScript</span>
    </div>

    <div class="cell">
      <img src="images/angular-logo.webp" alt="node logo" />
      <span>Angular</span>
    </div>
    <div class="cell">
      <img src="images/php-logo.webp" alt="node logo" />
      <span>PHP</span>
    </div>
    <div class="cell">
      <img src="images/laravel-logo.webp" alt="node logo" />
      <span>Laravel</span>
    </div>
    <div class="cell">
      <img src="images/vue-logo.webp" alt="node logo" />
      <span>Vue.js</span>
    </div>
  </div>
</div>
