.experience-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.experience-section h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
}

.timeline {
  max-width: 800px;
  margin: auto;
  position: relative;
}
.timeline::before {
  content: "";
  position: absolute;
  left: 15px;
  width: 3px;
  height: 100%;
  background: #000;
}
.timeline-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
}
.timeline-item::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 5px;
}
.timeline-content {
  margin-left: 30px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.timeline-title {
  font-weight: bold;
}
.timeline-subtitle {
  color: gray;
  font-size: 14px;
}
.timeline-description {
  font-size: 14px;
  margin-top: 5px;
}
