<div class="testimony-section">
  <h2>Testimony</h2>

  <div class="group">
    <div class="person-details">
      <img src="images/testimony-headshot.webp" />
      <p>John Doe</p>
      <p>Lorem ipsum dolor sit.</p>
    </div>

    <div class="text">
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, sint
      repudiandae ratione exercitationem saepe distinctio cumque quaerat nostrum
      laborum? Rem adipisci natus eos nemo reprehenderit, cumque nostrum enim
      commodi. Eum, enim vero eveniet doloremque sed veniam. Doloremque
      explicabo non reprehenderit expedita! Accusamus mollitia repellendus
      dolorum officiis libero quod deleniti cum."
    </div>
  </div>
</div>
