<div class="testimony-section">
  <h2>{{ "testimonials.title" | translate }}</h2>
  <div class="carousel-container">
    <div class="carousel">
      @for (testimony of ('testimonials.list-testimonials' | translate); track
      $index) {
      <div class="card">
        <div class="person-details">
          <img [src]="testimony.img" alt="{{ testimony.name }}" />
          <p>
            {{ testimony.name }}
          </p>
          <p>{{ testimony.company }}</p>
          @for(redes of testimony.red_socials; track $index) {
          <a href="{{ redes.url }}" target="_blank" rel="noopener noreferrer"
            ><i class="fa-brands {{ redes.icon }}"></i
          ></a>
          }
        </div>
        <div class="text">"{{ testimony.message }}"</div>
      </div>
      }
    </div>
  </div>
</div>
