.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 50px 0;
  margin-bottom: 100px;
  gap: 40px;
}

.hero-section .text {
  flex: 5;
}

.hero-section .text h2 {
  font-size: 45px;
}

.hero-section .text .links {
  margin-top: 25px;
}

.hero-section .text .links a {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid var(--btn-color);
  background-color: var(--btn-color);
  color: var(--btn-color-text);
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 0.1s;
  text-decoration: none;
}

.hero-section .text .links a i {
  margin-right: 8px;
}

.hero-section .text .links a:hover {
  color: var(--btn-color-text);
  border: 2px solid var(--btn-color);
  text-decoration: underline;
}

.hero-section .headshot {
  flex: 2;
  display: flex;
  justify-content: right;
}

.hero-section .headshot img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
}
