<div class="hero-section">
  <div class="text">
    <h2>
      Hola, Soy Jesus Manuel
      <br />
      Liendo Palafox 👋
    </h2>
    <p>
      Soy un desarollador web con experiencia en el desarrollo de aplicaciones
      web y móviles(Responsive). Mi enfoque principal es la creación de
      soluciones intuitivas y funcionales que satisfacen las necesidades de los
      usuarios. Tengo mas de 6 años de experiencia en el desarrollo de
      aplicaciones web utilizando tecnologías como HTML, CSS, JavaScript,
      TypeScript, Angular entre otras.
    </p>

    <!-- <div class="links">
      <a href="#skills">
        <i class="fa-solid fa-code"></i>
        <span>Mi CV</span>
      </a>

      <a
        href="https://www.linkedin.com/in/jesus-manuel-liendo-palafox-62694425a/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-linkedin"></i>
        <span>LinkedIn</span>
      </a>
    </div> -->
  </div>

  <div class="headshot">
    <img src="images/1674575119128.webp" alt="Jesus Liendo" />
  </div>
</div>
